.app_violet_theme {
    --button-colored-bg: #A080FF;
    --button-colored-bg-focused: #7B4EFF;
    --button-colored-bg-hovered: #8F6AFB;

    --button-dark-bg: #292929;
    --button-dark-bg-focused: #555555;
    --button-dark-bg-hovered: #494949;
}