.app_violet_theme {
    // button
    --button-colored-bg: #7B4EFF;
    --button-colored-bg-focused: #A080FF;
    --button-colored-bg-hovered: #8F6AFB;
    --button-dark-bg: #292929;
    --button-dark-bg-focused: #555;
    --button-dark-bg-hovered: #494949;

    // separator
    --separator-bg: #dad2ff;

    // input
    --input-text-color: #dad2ff;
    --input-placeholder-color: #dad2ff;;
    --input-color: #dad2ff;
    --input-error-color: #FF006B;
    --input-focus-color: #fff;

    // message
    --message-error-color: #FF006B;
    --message-green-color: #48ff00;


}