body {
    // button
    --button-default-height-desktop: 36px;
    --button-default-font-size-desktop: 14px;
    --button-default-icon-size-desktop: 20px;

    //input
    --input-icon-size-desktop: 16px;
    --input-height-desktop: 35px;
    --input-font-size-desktop: 12px;
    --input-label-font-size-desktop: 12px;
    
}